livekitsecrets.gleeze.com {
    reverse_proxy /ws/* livekit-server:7880
    reverse_proxy /rtc/* livekit-server:7880
    reverse_proxy /ingress/* ingress:7880
    reverse_proxy /egress/* egress:7880

    # Optional headers for WebRTC
    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Frame-Options "DENY"
    }
}